{% extends "bootstrap/base.html" %}
{% block head%}
{{super()}}
<link rel ="shortcut icon" href="{{url_for('static',filename='F_icon.png')}}"
  type = "image/x-icon">
<link rel ="icon" href="{{url_for('static',filename='F_icon.png')}}"
  type = "image/x-icon">
{% endblock %}
{% block title%}Luna-Blog{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Luna-Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="navbar-link" class="nav navbar-nav">
            <li><a href="{{url_for('main.index')}}">Home</a></li>
            <li><a href="{{url_for('main.user',username=current_user.username)}}">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{url_for('auth.change_password')}}">Change Password</a></li>
                  <li><a href="{{url_for('auth.logout')}}">log out</a></li>
              </ul>
            </li>
            {% else %}
            	<li><a href="{{url_for('auth.login')}}">log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
{% for category,message in get_flashed_messages(with_categories=true) %}
<div class="alert {%if category=='message' %}alert-info{% else %}alert-{{category}}{% endif%} alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{message}}
</div>
{% endfor %}

	{%block page_content%} {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.lang('zh-cn')}}
<script type="text/javascript">
 $(function(){
   $("#navbar-link a").each(function(index){
     $this = $(this)
     if ($this[0].href == String(window.location)){
       $this.parent().addClass('active') 
     }
   });
 });
</script>
{% endblock %}